@{
    ViewData["Title"] = "Calender";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var isAdminOrProvider = @Json.Serialize(User.IsInRole("Admin") || User.IsInRole("ServiceProvider"));

            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'timeGridWeek',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                slotDuration: '00:30:00', // Слотови од 30 минути
                slotMinTime: '08:00:00', // Работно време од 8:00
                slotMaxTime: '20:00:00', // Работно време до 20:00
                selectable: true,
                select: function (info) {
                    // Отвори форма за креирање резервација
                    window.location.href = '/Reservations/Create?start=' + encodeURIComponent(info.startStr);
                },
                events: '/Reservations/GetEvents',
                eventDisplay: 'block',
                eventClick: function (info) {
                    if (isAdminOrProvider) {
                        alert('Термин: ' + info.event.title + '\nПочеток: ' + info.event.start.toLocaleString() + '\nКрај: ' + info.event.end.toLocaleString());
                    } else {
                        alert('Зафатен термин');
                    }
                },
                eventContent: function (info) {
                    // Прикажи "Зафатено" за клиенти, а целосен наслов за админ/сервис провајдер
                    return { html: isAdminOrProvider ? info.event.title : 'Зафатено' };
                }
            });

            calendar.render();
        });
    </script>
}



<div id="calendar"></div>
<div id="message" style="display:none; margin-top: 20px;" class="alert alert-info"></div>
